*
  margin: 0
  padding: 0
  box-sizing: border-box

:root
  --border-rad: 5px

  --color-black: #000
  --color-white: #fff

  --color-primary: #fcbade
  --color-secondary: #246962
  --color-active: #f8b73f
  --color-active-h: #e9a830

  --color-warning: #d80404
  --color-success: #0da000
html
  font-size: 16px
  font-family: 'Roboto', 'Helvetica Neue', sans-serif

body
  display: flex
  justify-content: center
